:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }



  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footerItems{
    padding-left: 30px;
  }
  .Cart-Container {
    margin-top: 100px;
    width: 70%;
    height: 85%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
  }

  .Header {
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Heading {
    font-size: 20px;
    font-family: (Open Sans);
    font-weight: 700;
    color: #2F3841;
  }

  .Action {
    font-size: 14px;
    font-family: (Open Sans);
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
  }

  .Cart-Items {
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .image-box {
    width: 15%;
    text-align: center;
  }

  .about {
    height: 100%;
  }

  .title {
    padding-top: 5px;
    line-height: 10px;
    font-size: 32px;
    font-family: (Open Sans);
    font-weight: 800;
    color: #202020;
  }

  .subtitle {
    line-height: 10px;
    font-size: 18px;
    font-family: (Open Sans);
    font-weight: 600;
    color: #909090;
  }

  .counter {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: (Open Sans);
    font-weight: 900;
    color: #202020;
    cursor: pointer;
  }

  .count {
    font-size: 20px;
    font-family: (Open Sans);
    font-weight: 900;
    color: #202020;
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
  .prices{
    height: 100%;
    text-align: right;
   }
   .amount{
    padding-top: 20px;
    font-size: 26px;
    font-family: (Open Sans);
    font-weight: 800;
    color: #202020;
   }
   .save{
    padding-top: 5px;
    font-size: 14px;
    font-family: (Open Sans);
    font-weight: 600;
    color: #1687d9;
    cursor: pointer;
   }
   .remove{
    padding-top: 5px;
    font-size: 14px;
    font-family: (Open Sans);
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
   }
   hr{
    width: 66%;
    float: right;
    margin-right: 5%;
   }
   .checkout{
    float: right;
    margin-right: 5%;
    width: 28%;
   }
   .total{
    width: 100%;
    display: flex;
    justify-content: space-between;
   }
   .Subtotal{
    font-size: 22px;
    font-family: (Open Sans);
    font-weight: 700;
    color: #202020;
   }
   .items{
    font-size: 16px;
    font-family: (Open Sans);
    font-weight: 500;
    color: #909090;
    line-height: 10px;
   }
   .total-amount{
    font-size: 36px;
    font-family: (Open Sans);
    font-weight: 900;
    color: #202020;
   }
   .button{
    margin-top: 5px;
    width: 100%;
    height: 40px;
    border: none;
    background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: (Open Sans);
    font-weight: 600;
    color: #202020;
   }



