.modal_body{
    background-color:#ffffff;
    width: 500px;
    height: 500px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }
  .items{
    font-size: 16px;
    font-family: (Open Sans);
    font-weight: 500;
    color: #909090;
    line-height: 10px;
   }

  .modal{
    background-color: rgba(0,0,0,.8);
    position: absolute;
    top: 10px;
    right: 1px;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
  }

   hr{
    width: 66%;
    float: right;
    margin-right: 5%;
   }
   .checkout{

    margin-right: 5%;
    width: 28%;
   }
   .total{
    width: 100%;
    display: flex;
    justify-content: center;
   }
   .Subtotal{
    font-size: 22px;
    font-family: (Open Sans);
    font-weight: 700;
    color: #202020;
   }
   .items{
    font-size: 16px;
    font-family: (Open Sans);
    font-weight: 500;
    color: #909090;
    line-height: 10px;
   }
   .total-amount{
    font-size: 20px;
    font-family: (Open Sans);
    font-weight: 900;
    color: #202020;
   }
   .button{
    margin-top: 5px;
    width: 100%;
    height: 40px;
    border: none;
    background: linear-gradient(to bottom right, #B8D7FF, #90baf0);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: (Open Sans);
    font-weight: 600;
    color: #202020;
   }
   .Cart-Container {
    margin-top: 100px;
    width: 70%;
    height: 85%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
  }
